<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="SQLConn"
          connectionString="Server=SHELLI-IR18UQA;Database=Testing;Integrated Security=SSPI;"
          providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    <add key="FileName" value="C:\Temp\DataSrc{0}.xlsx"  />
  </appSettings>
</configuration>